{% extends "base.html" %}

{% block title %}
    Image_questioning
{% endblock %}

{% block content %}
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        alert-danger
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        alert-success
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        alert-warning
                    {% else %}
                        alert-info
                    {% endif %}
                ">
                    {{ message|safe }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<div class="container mt-5">
    
    <h1 class="text-center mb-4">image questioning</h1>

    <form method="POST" action="{% url 'image_questioning' %}" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% if response %}
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">Image :</h2>
        </div>
        <div class="card-body text-center">
            <img src="{{ image_url }}" alt="Image uploadée" class="img-fluid" style="max-width: 100%; height: auto; border: 1px solid #ccc; border-radius: 8px;" />
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="card-title">Réponse :</h2>
        </div>
        <div class="card-body">
            <p class="card-text">{{ response|safe }}</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}